<launch>
 <!-- joy node -->
  <node respawn="true" pkg="nmea_tcp_driver" type="nmea_tcp_driver" name="gps_data" >
    <param name="host" value="192.168.0.13" />
    <param name="port" value="9997" />
    <remap from="tcpfix" to="rover_gps_data" />
    <remap from="tcptime_reference" to="rover_time_ref" />
    <remap from="tcpvel" to="rover_vel" />
  </node>
</launch>
