<launch>
 <!-- joy node -->
  <node respawn="true" pkg="nmea_tcp_driver" type="nmea_tcp_driver" name="gps_data" >
    <param name="host" value="192.168.43.163" />
    <param name="port" value="9997" />
    <remap from="tcpfix" to="base_gps_data" />
    <remap from="tcptime_reference" to="base_time_ref" />
    <remap from="tcpvel" to="base_vel" />
  </node>
</launch>
