<launch>

    <node name="camera1" pkg="uvc_camera" type="uvcgrabber" ns="camera1"/>
    <param name="/camera1/device" value="/dev/video1" />
    <param name="/camera1/width" value="480" />
    <param name="/camera1/height" value="360" />
    <param name="/camera1/mode" value="rgb8" />


	<node name="republish" type="republish" pkg="image_transport" output="screen" args=" in:=/camera1/image raw out:=camera1/image_republished" />
    
</launch>
